services:
  app:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    restart: always
    volumes:
      - .:/app

  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres16J
      POSTGRES_USER: postgres
      POSTGRES_DB: littlefastapi
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: